@import 'colors';
@import 'fixed-sizes';

.footer {
  align-items: center;
  background-color: $color-blue;
  display: flex;
  flex-flow: column nowrap;
  padding: 35px 10px 10px;

  .footer-copyright {
    align-self: flex-end;
    font-size: $text-small;
  } 
  
  .footer-logo {
    height: $footer-logo-height;
    margin: 10px;
  }
  
  .footer-title {
    font-size: $text-medium;
  }

  .footer-title, .footer-copyright {
    color: white;
  }

  @media screen and (max-width: $breakpoint) {

    justify-content: center;
    height: 400px;
    padding: 50px 0;

    .footer-copyright {
      align-self: center;
    }

    .footer-title {
      font-size: $text-medium * 2;
    }

    .footer-logo {
      justify-self: flex-start;
      height: $footer-logo-height * 2;
      margin: 30px 0 100px;
    }
  }
}
