@import 'fixed-sizes';
@import 'colors';

.header {

  .navbar {
    align-items: center;
    box-shadow: 0px 8px 8px 0px $color-gray;
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;

    .navbar-item, .navbar-logo {
      font-size: $text-big;
    }
    .navbar-logo {
      height: $nav-logo-height;
    }  

    @media screen and (max-width: $breakpoint){

      .navbar-item {
        display: none;
      }
    }
  }
}
