@import 'fonts';
@import 'fixed-sizes';

.container {
  font-family: $roboto-stack;
  padding: 50px;
}

.content-wrapper {
  height: 100%;
  overflow-y: auto;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
}

.tech-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 750px;
  position: relative;

  @media screen and (max-width: $breakpoint) {
    grid-gap: 50px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
