@import 'fonts';

.container {
  font-family: $roboto-stack;
  height: 100%;
  overflow-y: auto;
}

.main-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.tech-wrapper {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto 60px auto;
  width: 90%;
}
