@import 'fonts';
@import 'fixed-sizes';

.container {
  font-family: $roboto-stack;
  padding: 50px;
}

.content-wrapper {
  height: 100%;
  overflow-y: auto;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
}

.tech-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 40px 40px 80px 40px;
  position: relative;

  @media screen and (max-width: $breakpoint) {
    grid-template-columns: 1fr;
    grid-gap: 200px;
    justify-items: center;
    margin: 120px 40px 240px;
  }
}
