@import 'colors';
@import 'fixed-sizes';

$single-margin: 10px;
$border-radius: 2%;

.tech-box {
  align-items: center;
  display: flex;
  flex-flow: column;
  font-size: $text-medium;
  padding: 30px;
  width: 250px;
}

.tech-box-feature {
  align-self: center;
  grid-row: 1/3;
  justify-self: end;

  &::after {
    background-color: $color-green;
    content: '';
    height: 100%;
    position: absolute;
    transform: translate(120px, -200px);
    width: 3px;
  }
}

.tech-desc {
  text-align: center;
}

.tech-img {
  height: $tech-logo-size;
  margin: 0 0 $single-margin 0;
  width: $tech-logo-size;
}

.tech-title {
  margin: 0 0 $single-margin 0;
}

.tech-release {
  font-weight: bold;
  margin: 0 0 $single-margin * 2 0;
}
