@import '_fixed-sizes';

.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  padding: 40px 60px;
  position: relative;

  &::before {
    background: url(assets/triangle.svg) no-repeat;
    content: '';
    height: $title-decoration-height;
    left: 10px;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }

  @media screen and (max-width: $breakpoint) {
    font-size: $text-big * 3;
    margin: 120px auto;
    width: fit-content;

    &::before {
      height: $title-decoration-height * 3;
      width: $title-decoration-width * 3;
      left: -95px;
    }
  }
}
