@import '../../../scss/colors';

.square {
  background: $color-white;
  border: 1px solid $color-border;
  border-radius: 20px;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}
