@import 'src/scss/colors';

.circle {
  animation: loading 1s infinite ease-in-out;
  fill: $primary;
}

.spinner {
  height: 70px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

@keyframes loading {
  25% {
    transform: translateX(100px);
  }

  75% {
    transform: translateX(-100px);
  }
}
