@import 'src/scss/colors';

.centerfy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spiner {
  position: relative;
  width: 100px;
  height: 100px;
  animation: anim-spin 1s infinite ease;
}

.spiner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: solid 10px $primary;
  border-right: solid 10px transparent;
  border-bottom: solid 10px $primary;
  border-left: solid 10px transparent;
  border-radius: 100%;  
}

@keyframes anim-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
