@import 'src/scss/colors';

.centerfy {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spiner {
  animation: anim-spin 1s infinite ease;
  height: 100px;
  position: relative;
  width: 100px;

  &:after {
    content: "";
    bottom: 0;
    border-bottom: solid 10px $primary;
    border-left: solid 10px transparent;
    border-radius: 100%;  
    border-right: solid 10px transparent;
    border-top: solid 10px $primary;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes anim-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
