@import 'src/scss/colors';
@import 'src/scss/fixed-sizes';

.data-appear {
  transform: translate(-1000px);

  &.data-appear-active {
    transition: transform 300ms linear 300ms;
    transform: translate(0);
  }
}

.profile-appear {
  opacity: 0;

  &.profile-appear-active {
    transition: opacity 300ms linear;
    opacity: 1;
  }
}

.photo-appear {
  transform: scale(0.5);

  &.photo-appear-active {
    transition: transform 300ms linear 600ms;
    transform: scale(1);
  }
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 50px auto;
  max-width: 450px;

  .charge {
    color: $font-danger;
    grid-column: 2 / 4;
    margin: 0;
  }

  .data {
    background-color: $primary;
    border-radius: 10px;
    color: $white;
    display: grid;
    font-weight: bold;
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    padding: 15px;
    width: 100%;
  }

  .description {
    grid-column: 2 / 4;
  }

  .name {
    grid-column: 2 / 4;
    margin-bottom: 0;
  }

  .photo {
    grid-row: 1 / 4;
    height: 100px;
    transition: transform 300ms ease-in-out; 
    width: 100px;

    &:hover {
      transform: scale(1.3);
    }
  }
}
