@import 'src/scss/colors';

.error {
  background: $danger; 
  border-radius: 10px;
  bottom: -50px;
  color: $font-danger;
  left: 0;
  margin: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 70%;
}
