.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 20px auto;
  max-width: 600px;

  @media screen and (max-width: 1024px) {
    grid-gap: 30px; 
    grid-template-columns: 1fr;
  }
}

.gameBoard {
  min-width: 300px;
}

.status {
  margin: 0 0 10px;
}
