@import 'src/scss/colors';
@import 'src/scss/fixed-sizes';

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
  max-width: 600px;
}

.navbar-button {
  border: 0;
  color: $font-danger;
  cursor: pointer;
  font-size: $medium;
  font-weight: bold;
}

.navbar-item {
  border-bottom: 3px solid $border;
  border-radius: 10px 10px 0 0;
  color: $black;
  font-size: $medium;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;

  &.active {
    background-color: $border;
    color: $white;
  }
}
