@import 'src/scss/colors';

.square {
  background: $white;
  border: 1px solid $border;
  border-radius: 20px;
  float: left;
  font-size: 50px;
  font-weight: bold;
  height: 100px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;

  &:focus {
    outline: none;
  }
}
